<h1>Total {{model.totalFoos}}:</h1>

{{#each model.foos as |foo|}}
  <div>
    quantity: {{foo.quantity}}
  </div>
{{/each}}

<button onclick={{action 'createNew'}}>
  New
</button>

<button onclick={{action 'saveAll'}}>
  SaveAll
</button>